*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
}

.centered{
    text-align: center;
}

header{
    
    background-color: #ddd;
}
header nav a{
    display: inline-block;
    padding: 1em;
    color: #777;
    text-decoration: none;
}
main{
    padding: 1em;
}
form{
    max-width: 600px;
    margin: auto;
}

#message{
    margin: 0;
    padding: 1em;
    text-align: center;
}
.success{
    background-color: rgb(129, 255, 157);
    color: rgb(22, 78, 25);
}
.error{
    background-color: rgb(255, 134, 134);
    color: rgb(78, 22, 22);
}
.notice{
    background-color: rgb(134, 211, 255);
    color: rgb(23, 22, 78);
}
.sujet-item{
    max-width: 500px;
    margin: auto;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}